<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set admin</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}"> <!-- отправлять данные на сервер можно только с помощью формы-->
    <label for="person">Choose person:</label>
    <select th:object="${person}" th:field="*{id}" id="person"> <!-- object - передаем из контроллера в ModelAttribute, th:field - поле, которое будет выбираться в выпадающем списке-->
        <option th:each="person : ${people}" th:value="${person.getId()}"
        th:text="${person.getName()}"></option> <!-- th:value - что будет отправляться на сервер-->
    </select>

    <input type="submit" value="Назначить админом"> <!-- будет отправляться при нажатии кнопки-->
</form>

</body>
</html>